.header {
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 -25px 13px 20px #000;
  position: inherit;
  top: 0;
  left: 0;
  width: 100%-20px;
  padding: 20px;
}

.header__logo {
  width: 100%;
  text-decoration: none;
}

.header__logo img {
  float: left;
  text-align: left;
  width: 50px;
  margin: 10px;
}

.header__button {
  color: white;
  background-color: #808080;
  width: 100px;
  height: 100px;
}

@media only screen and (max-width: 1000px) {
  .header__logo h1 {
    padding-top: 10px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 440px) {
  .header__logo h1 {
    padding-top: 0;
  }
}
